<article class="home-grid__item home-grid__item--col-{{ header.width }}">
    <a href="{{ header.link }}">
        {% set first_image = page.media|first %}

        <img alt="" src="{{ first_image.url }}"/>
        <div class="spot">
            {% if header.spot == "oui" %} new {% endif %}
        </div>
    </a>
</article>