<article>
    <a href="{{ base_url_absolute }}{{ header.link }}">
        {% set first_image = page.media|first %}

        <img alt="" src="{{ first_image.url }}"/>
        
        {% if header.spot == "oui" %}
            <div class="spot">
                new
            </div>
        {% endif %}
    </a>
</article>