.home {

  &.wrapper {
    max-width: 100%;
  }

  &-grid {

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    &-gutter {
      width: 3rem;
    }
  }

  &-item {
    float: left;
    width: calc(25% - 3rem);
    margin-bottom: 3rem;

    &_col-two {
      width: calc(50% - 3rem);
    }

    article {
      position: relative;

      a {
        display: block;
        text-decoration: none;
      }
    }

    img {
      width: 100%;
    }
  }

  @media (min-width: $xl-width) {
    &-item {
      width: 34rem;

      &_col-two {
        width: 71rem;
      }
    }
  }

  @media (min-width: 860px) and (max-width: 1300px) {
    &-item {
      width: calc(33.333% - 3rem);

      &_col-two {
        width: calc(66.666% - 3rem);
      }
    }
  }

  @media (max-width: 860px) {
    &-grid {

      &-gutter {
        width: 2rem;
      }
    }

    &-item {
      width: calc(50% - 1rem);

      &_col-two {
        width: 100%;
      }
    }
  }

  @media (max-width: 440px) {
    &-grid {

      &-gutter {
        width: 0;
        display: none;
      }
    }

    &-item {
      width: 100%;
      max-width: 100%;

      &_col-two {
        width: 100%;
      }
    }
  }
}