.partnership {
  @extend %grid;
  @extend %grid-2;
  margin-top: 3rem;

  & > div {
  grid-column: 1/2;
  }

  &--list {
    @extend %grid;
    @extend %grid-2;
  }

  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  p:empty {
    display: none;
  }

  @media (max-width: $l-width) {
    & > div {
      grid-column: 1/3;
    }
  }

  @media (max-width: $m-width) {
    &--list {
      display: block;
    }
  }
}
