.partnership {
  margin-top: 3rem;

  &--list {
    display: flex;
    flex-wrap: wrap;
    margin: -2rem 0 0 -5rem;

    & > li {
      flex-basis: calc(25% - 6.5rem);
      margin: 3rem 0 0 5rem;
    }
  }

  h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 500;
  }

  h3,
  p {
    margin: 0;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: bold;
  }

  p:empty {
    display: none;
  }

  @media (max-width: $l-width) {
    &--list {
      & > li {
        flex-basis: calc(33.3333% - 5rem);
      }
    }
  }

  @media (max-width: $m-width) {
    margin-top: 2rem;

    &--list {
    margin-top: 0;

      & > li {
        flex-basis: calc(50% - 5rem);
        margin-top: 2rem;
      }
    }
  }



  @media (max-width: $s-width) {
    &--list {
      display: block;
    }
  }
}
