.studio {
  display: flex;

  & > div {
    &:first-child {
      font-size: 1.8rem;
    }

    &:last-child {
      margin-left: 5rem;
    }
  }

  &-page {
    footer {
      div:first-child {
        width: calc(25% - 3.4rem);
      }
    }
  }

  @media (max-width: $l-width) {
    display: block;

    & > div {
      &:last-child {
        margin-top: 3rem;
        margin-left: 0;
      }
    }

    &-page {
      footer {
        div:first-child {
          flex-basis: calc(33.3333% - 1.4rem);
        }
      }
    }
  }

  @media (max-width: $m-width) {

    & > div {
      &:last-child {
        margin-top: 2rem;
      }
    }

    &-page {
      footer {
        div:first-child {
          flex-basis: calc(50% + .4rem);
        }
      }
    }
  }

  @media (max-width: 610px) {
    &-page {
      footer {
        padding-top: 3rem;

        div:first-child {
          width: 100%;
        }
      }
    }
  }
}