.home-grid__item {
  position: relative;
  min-height: 200px;

  &--col {
    &-one {
      width: calc(33% - 2rem);
    }
    &-two {
      width: calc(66% - 2rem);
    }
  }

  a {
    text-decoration: none;
  }

  .spot {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background-color: $main-color;
  }
}