{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="home-grid">
        {% for module in page.collection() %}
            <div class="item">
                {{ module.content }}
            </div>
            <div class="gutter"></div>
        {% endfor %}
    </section>

    <script src="{{ theme_url }}/js/masonry.pkgd.min.js"></script>
    <script>
        $(window).load(function () {
            $('.home-grid').masonry({
                itemSelector: '.item',
                columnWidth: '.item',
                gutter: '.gutter'
            })
        });

    </script>
{% endblock %}
