{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="home-grid">
        {% for module in page.collection() %}
            {{ module.content }}
        {% endfor %}
    </section>
{% endblock %}
