{% extends 'partials/base.html.twig' %}

{% block content %}
    <section class="home-grid">
        {% for module in page.collection() %}
            <div class="home-item home-item_col-{{ module.header.width }}">
                {{ module.content }}
            </div>
            <div class="home-grid-gutter"></div>
        {% endfor %}
    </section>

    <script src="{{ theme_url }}/js/isotope.pkgd.min.js"></script>
    <script>

        $(window).load(function () {
            $('.home-grid').isotope({
                itemSelector: '.home-item',
                percentPosition: true,
                masonry: {
                    columnWidth: '.home-item',
                    gutter: '.home-grid-gutter'
                }
            });
        });
    </script>
{% endblock %}
