{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="studio">
        <div>
            {{ page.content }}
        </div>

        <div>
            {{ page.header.english }}
        </div>
    </div>

    <div class="partnership">
        {{ page.header.partnership }}
    </div>
{% endblock %}
