{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="studio">
        <div>
            {{ page.content }}
        </div>

        <div>
            {{ page.header.english|markdown }}
        </div>
    </div>

    <div class="partnership">
        <div>
            {% for p in page.collection %}
                {{ p.content }}
            {% endfor %}
        </div>
    </div>
{% endblock %}
